$color-link-activ: #000000;
$color-link:  #0F0F1080;
$color-title: #0F0F10;
$color-title-accent: #0F0F1080;
$color-placeholder: rgba(15, 15, 16, 0.3);
$color-title-card: rgba(54, 79, 199, 1);
$color-text: rgba(15, 15, 16, 1);
$color-text-accent: rgba(15, 15, 16, 0.5);
$color-text-look-button: #fff;
$color-text-reply-button: rgba(15, 15, 16, 1);

$background-color: #FFFFFF;
$background-color-accent: #F6F6F7; 
$background-color-decor-link:#4263EB;
$background-color-button:#4263EB;
$background-color-look-button: rgba(15, 15, 16, 1);
$background-color-reply-button: rgba(15, 15, 16, 0.1);

$box-shadow-header: 0px 2px 22.5px 0px #1C1D1F0D;